/* .container {
  max-width: 850px;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px 100px;
  border-radius: 15px;
  background-color: var(--bgColor);
  box-shadow: var(--boxShadow);
} */

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  text-align: center;
}
